:root{
    --text-color: white;
    --bg-page: #020317;
    --bg-nav: rgba(212, 33, 153, 0.781);
    --size-2: 1.25rem;
    --size-3: 1.5rem;
}

body{
    margin: 0;
}
    
.Nav{
   /*  background-color: var(--bg-nav);
    display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: 2.8rem;
    justify-content: space-between;
    align-items: center;
 */
    background-color: var(--bg-nav);
    display: grid;
    width: 100%;
    grid-template-columns: 3rem auto;
    grid-template-rows: 2.8rem;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    z-index: 10001;
    top: 0;
    left: 0;

}

#Menu{
    background-color: #69cbcb;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estaba probando el stcky en la barra, para ver como quedaria */
.Presentacion{
    /* height: 100vh;     */
    background-color: var(--bg-page);
    height: calc(100vh - 2.8rem);/*  esto es asi por que no esta el nav en fixed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--size-2);
    color: var(--text-color);
}
.Presentacion__Texto{
    padding: 0 18px 10px;
    text-align: center;
}
#ImgProfile{
    width: 12rem;
    height: 12rem;
    border-radius: 999px;
}
/*              ABOUT            */

.SectionAbout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* position: relative; */
}
.SectionAbout > img{
    /* position: absolute; */
    height: 100%;
    width: 100%;
}
.ContainerColumn{
    background-color: rgb(40, 40, 41);
    text-align: center;
    color: var(--text-color);
    font-size: var(--size-2);
    border-top: 4px solid #162c6c;
}
.ContainerColumn > article{
    padding: 0 18px;
}
.HrAbout{
    width: 80%;
    border: 1px solid white;
    border-radius: 21px;
}

/* SHOW IMAGE OF PROYECT */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;box-shadow: 0px 0px 20px 1px white;}
img {vertical-align: middle;}

/* Slideshow container */
.SectionProyect-Contact{
    background-color: var(--bg-page);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    text-align: center;
}
.slideshow-container {
  max-width: 34rem;
  position: relative;
  /* margin: auto; */
}

/* Caption text */
.text {
  color: var(--text-color);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* BOX_RADIUS */
.padher{
    display: flex;
    width: 10rem;
    justify-content: space-between;
}

.circulo{
    width: auto/* 2.5rem */;
    height: auto/* 2.5rem */;
    border-radius: 999px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    transition: 0.5s;   /* el tiempo que tarda la ejecucion */
    padding: 8px;
}

.circulo:hover{
    content: "holaa";
    color: white;
    transform: translateY(-1rem);       /* una traslacion a ejecutar */
}
.circulo:hover::after{
    content: "holaa";
    position: absolute;
    bottom: -1rem;
}
.img{
    width: 1.5rem;
    height: 1.5rem;
}

/*                     RESPONSIVE                         */

@media (min-width: 768px) {

    .Presentacion{
        flex-direction: row;
        padding: 0 16px;
        font-size: var(--size-3);
    }
    
    .Presentacion__Texto{
        padding: 0 18px 0 0;
        text-align: center;
    }
    #ImgProfile{
        width: 14rem;
        height: 14rem;
        border-radius: 999px;
    }
    /*                           about                           */
    .SectionAbout{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
    }
    .SectionAbout > img{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .ContainerColumn{
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        opacity: 0.9;
        color: white;
        font-size: var(--size-2);
        border-radius: 20px 15px 0px 0px;
        
    }
    .HrAbout{
        display: none;
    }
}